.hero-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.ornament-image {
  width: 200px;
  height: auto;
  margin: 20px 0;
}

.ornament-image-top {
  animation: slide 4s ease-in-out infinite;
}

.hero-title {
  font-family: "grand malon", cursive;
  font-size: 32px;
  color: #000;
  text-align: center;
  margin: 0 20px;
}

.hero-name {
  font-family: "zaslia";
  font-size: 26px;
  color: #000;
  text-align: center;
}

.hero-tagline {
  font-family: "mea culpa", cursive;
  font-size: 36px;
  color: #000;
  text-align: center;
  margin: 20px 30px;
}

.hero-date,
.hero-location {
  font-family: "zaslia";
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin: 0 20px;
  margin-top: 10px;
}

.ornament-image-bottom {
  transform: scale(-1, -1);
  animation: slide-two 4s ease-in-out infinite;
}

.clock-image-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.watch-image {
  width: 80px;
  height: auto;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(-4px);
  }
  66% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-two {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(4px);
  }
  66% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}
