.hero-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.ornament-image-bottom {
  transform: scale(-1, -1);
}
